@page "/deportelist"
@using Model
@using Interfaces
@inject IDeporteService DeporteService

<h3>DeporteList</h3>

@if (deportes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>NumJugadores</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deporte in deportes)
            {
            <tr>
                <td>@deporte.Name</td>
                <td>@deporte.NumJugadores</td>
                <td><a href="/deportedetails/@deporte.id"><i>Edit</i></a></td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<Deporte> deportes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            deportes = await DeporteService.GetAllDeportes();
        }
        catch (Exception)
        {
            throw;
        }
    }
}
