@page "/deportedetails"
@using BlazorDeportes.Model
@using Interfaces
@inject IDeporteService DeporteService

<h3>DeporteDetails</h3>

<EditForm Model="@deporte">
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><input type="text" @bind="deporte.Name" /></td>
        </tr>
        <tr>
            <td>NumJugadores:</td>
            <td><input type="text" @bind="deporte.NumJugadores" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Save" @onclick="SaveDeporte"/>
                <input type="button" value="Cancel" @onclick="CancelDeporte" />
            </td>
        </tr>
    </table>
</EditForm>

@code {

    Deporte deporte = new Deporte();

    protected void CancelDeporte()
    {

    }
    protected async Task SaveDeporte()
    {
        await DeporteService.SaveDeporte(deporte);
    }

}
