@page "/deportedelete/{id:int}"
@using Model
@using Interfaces
@inject IDeporteService DeporteService
@inject NavigationManager NavigationManager

<h3>DeporteDelete</h3>
<p style="color:red;text-align:center">¿Estas seguro de borrar este deporte?</p>

<EditForm Model="@deporte">
    <table class="table">
        <tr>
            <td>Name:</td>
            <td><input type="text" @bind="deporte.Name" /></td>
        </tr>
        <tr>
            <td>NumJugadores:</td>
            <td><input type="text" @bind="deporte.NumJugadores" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Delete" @onclick="DeleteDeporte" />
                <input type="button" value="Cancel" @onclick="Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    Deporte deporte = new Deporte();

    [Parameter]
    public int id { get; set; }

    protected async Task DeleteDeporte()
    {
        await DeporteService.DeleteDeporte(id);
        NavigationManager.NavigateTo("/deportelist");
    }

    protected override async Task OnInitializedAsync()
    {
        deporte = await DeporteService.GetDetails(id);
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/deportelist");
    }
}
